@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-image: url("https://www.enjpg.com/img/2020/plain-white-background-2.jpg");
    background-size: cover;
    
}
.filterPro{
    width: 230px;
    height: 400px;
    border-radius: 10px;
    margin: 17.5px;
    display:none;
    
}
    
.Shirt,
.Watch,
.Mobile,
.Suit
{
    box-shadow: 0 10px 25px rgb(163, 126, 126);
    background-color: white; 
    cursor: pointer; 
   margin:40px;
   position: relative;
   transition:1s;
}
.Shirt:hover,
.Watch:hover,
.Mobile:hover,
.Suit:hover{
    padding: 5px;
    border: 3.1px outset rgb(230, 255, 5);
    transform: scale(0.5s);
    
}
.filterPro img{
    width: 200px;
    height: 230px;
    margin-left: 10px;
    margin-top: 5px; 
    
}
.show{
    display: block;
}
.container-fluid{
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
button.active{
    background-color: rgb(147, 208, 228);
}

#carouselExampleIndicators{
    margin-top: 20px;

}
.carousel-inner img {
    width: 100%;
    height: 62.5vh;
    border-radius: 5px;
}

nav{	
    font-family:sans-serif;
}
.nav-item{
	font-family: 'Roboto Slab', serif;
	font-weight:bold;
    border: 2px solid transparent;
    background-color: antiquewhite;
   }
.nav-item:hover{
       border-bottom: 2px solid blue;
       transition: 1.5s;
   }
.navbar-style{
    box-shadow: 0 5px 15px #efefef ;
}

.navbar-brand{
    color: blueviolet;
}
.form-group input{
	background-color:rgb(220, 220, 236);
    outline: none;
    border-radius: 20px;
    padding-left: 40px;
    padding-right:40px ;   
    color: blue;
}

.form-group input ::placeholder{
    color: blueviolet;
}
p{
    color: rgb(21, 11, 27);
    padding-left: 10px;
    padding-bottom: 0;
    padding-top: 10px;
}
.icon{
    color: orange;
    padding-left: 10px;
    padding-top: -1px;
}
.id{
    color: red;
    text-decoration: line-through;
    padding-left: 10px;
}
span{
    color: green;
    padding-left: 10px;
}


footer .footer{
    margin-top: 30px;
}
.install img{
    width: 200px;
    height: 60px;
    cursor:pointer;
}
.about a{
    text-decoration:none;
    color: black;
}


.fluid{
    background-color: rgb(202, 196, 207);
}
.footer_socials{
    width: 410px;
    margin-top: 40px;
}
.about{
    margin-top: 40px;
    width: 410px;
}
.install{
    margin-top: 40px;
    width: 410px;
}
.btn button a{
    text-decoration: none;
    color: black;
}
.btn button{
    outline: none;
    border: none;
    width: 100%px;
    height: 40px;
    border-radius: 5px;
}
.btn button:hover{
    background-color: aquamarine;
}
.footer_icon {
    width: max-content;
    color: #fff;
    font-size: 40px;
}
.footer_icon :hover{
 color: crimson;
}

@media (max-width:768px) {
    .all.Shirt.Shoot.Watch.Mobile{
        width: 230px;
        height: 400px;
        border-radius: 5px;
        margin: 7.5px;
        cursor: pointer;
        background-color: red;
    }
    .filterPro img{
        width: 200px;
        height: 250px;
        margin-left: 10px;
        margin-top: 5px;   
    }
    .container-fluid{
        display: flex;
        justify-content: center;
    }
    .form-group{
        margin-left: 40px;
    }
    .btn{
        margin-left: 55px;
        margin-top: 10px;
    }
    #carouselExampleIndicators{
        margin-top: 20px;
    
    }
    .carousel-inner img {
        width: 50%;
        height: 50vh;
    } 
    .footer_socials{
        width: 100%;
        margin-left: 50px;
    }
    .about{
        width: 100%;
        margin-left: 50px;
    }
    .install{
        width: 100%;
        margin-left: 50px;
    }
   
}
